/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Theme Style*/



/**Section Planning
*
*
**/

.container{
    width:1110px;
}

/*Navbar css*/

.navbar {
    margin-bottom: 0px;
}

.header-top, .header-top a {
    background: #4b2641;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #7d406c;
    text-decoration: none;
}

.nav-background {
    background: #7d406c;
    border: none;
}

.logo-top {
    margin-top: 3px;
    z-index: 2;
    position: relative;
    padding: 0 0 0 25px;

}

.main-nav-wrapper ul li {
    padding: 10px 10px 1px 20px;
    font-family: 'Heebo', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 3px solid transparent;
    transition: all 500ms;
    line-height: 25px;
    color: #d5cec2;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
    color: #f39d89;
    background: transparent !important;
    border-bottom: 3px solid #fff;
}

.submenu .dropdown-menu {
    min-width: 132px;
    background: #69365b;
}

.submenu .dropdown-menu li a {
    background: transparent;

}

.submenu ul > li > a:hover,
.submenu ul > li > a:focus {
    text-decoration: none;
    color: #fff;

}

.submenu ul li a {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: #f39d89;
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-large ul li {
    font-family: 'Heebo', sans-serif;

}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    background: #69365b;
    width: 71%;
    margin-left: 254px;
    margin-right: 36px;
    padding: 30px 10px 20px 0;
}

.dropdown-menu-large > li > ul > li {
    padding: 3px;
    margin: 0;
    list-style: none;
}



.dropdown-title {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: #f39d89;
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 3px 3px 0;
    clear: both;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.428571429;
    color: #f39d89;
    white-space: normal;
    text-transform: uppercase;
}

.drop-image-title > a {
    color: #f39d89;
    text-decoration: none;
}

.drop-image-title {
    background: #3e2036;
    margin-bottom: 4px;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #f39d89;
    text-transform: uppercase;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #fff;

}
.dropdown-image{
    padding-top: 7px;
}

.drop-image-title a:hover {
    color: #fff;
}

.dropdown-menu-large .col1{
    padding-left: 45px;
}

.dropdown-menu-large .col2{
    padding-left: 105px;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }

}

/*Override Bootstrap Default Style*/
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #f39d89;
    background: transparent !important;
    border-bottom: 3px solid #fff;
}
/*Navrbar End*/

/*<!--04 - Start Slider Therapies-->*/
/*Body*/
body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}



/*slider*/
.ps-creative-title{
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    line-height: 100px;
}

.border-bottom-none,.border-bottom-none:hover{
    border-bottom: none !important;
}

.ps-hr{
    display: inline-block;
    height: 2px;
    width: 100px;
    margin:14px;
    background: #fff;
}

.ps-slider-wrap{
    padding: 100px 0;
}

.carousel-inner{
    display: block;
    z-index: 2;
}


.ps-slider-header{
    color: #fff;
}

.ps-slider-title{
    font-size: 120px;
    font-family: 'Arima Madurai', cursive;
}

/*indicator*/

.carousel-indicators li.active{
    background: white;
    color: white;
    border:8px solid white;
}

.carousel-indicators li{
    background-color: #fff;
}

.ps-indicator-position{
    bottom: -80px;

}
/*//end-Global*/


/*header-image(small)*/

#spa-small-slider{
    padding: 50px 0px;
}

.ps-therapies-slider{
    position: relative;
    background: url("../img/therapies.jpg") no-repeat;
    background-size: cover;
}

.ps-therapies-slider:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbcec8+0,ddddd7+0,bac0c4+0,615a57+100 */
    background: rgb(203,206,200); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(203,206,200,1) 0%, rgba(221,221,215,1) 0%, rgba(186,192,196,1) 0%, rgba(97,90,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(203,206,200,1) 0%,rgba(221,221,215,1) 0%,rgba(186,192,196,1) 0%,rgba(97,90,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(203,206,200,1) 0%,rgba(221,221,215,1) 0%,rgba(186,192,196,1) 0%,rgba(97,90,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcec8', endColorstr='#615a57',GradientType=0 ); /* IE6-9 */
}
/*<!--//04 - Therapies-->*/

/*Override Bootstrap Default Style*/
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #f39d89;
    background: transparent !important;
    border-bottom: 3px solid #fff;
}

/*<!--04 END Slider-->*/

/* Start package-section*/
.ps-package
{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1110px;
}

/*for heading and sub-heading of package-section*/
.ps-package-title1
{
    font-family: 'Satisfy', regular;
    font-size: 30px;
    color: #293d31;
    padding-top: 70px;
    padding-bottom: 35px;
}

.ps-package-title2
{
    font-family: 'Arima Madurai', medium;
    font-size: 60px;
    color : #293d31;
    padding-bottom: 40px;
}

/*for content of the package-section*/
.ps-package-content-wrap
{
    padding-left:30px;
    padding-right:30px;
}

.ps-package-item1
{
    background-image: url("../img/item1.png");
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2px;
}

.ps-package-item2
{
    background-image: url("../img/item2.png");
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2px;
}

.ps-package-item3
{
    background-image: url("../img/item3.png");
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2px;
}

.ps-package-item4
{
    background-image: url("../img/item4.png");
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2px;
}

/* for the seperator line of package-section*/
.ps-seperator
{
    padding-top: 145px;
}

.ps-hr-seperator
{
    border-color: #000;
}

/*for the price tag of package-section */
.ps-price-layer{
    background-color: #fbfbfb;
    opacity: 0.451;
    position: relative;
    width: 100%;
    height: 75px;
    margin-top: -21px;
}

.ps-content-row1
{
    padding-bottom: 60px;
}

.ps-price
{
    color: #060c08;
    font-family: 'Arima Madurai', medium;
    font-size: 40px;
    padding-left: 340px;
    padding-top: 4px;
    position: absolute;
    line-height: 1.8;
    font-weight: 500;
    /*opacity: 1.0;*/
}

/* hover effect of price tag in package-section*/

#ps-mouse-over1:hover,#ps-mouse-over2:hover,#ps-mouse-over3:hover,#ps-mouse-over4:hover
{
    color: #060c08;
    opacity: 1.0;
    font-size: 40px;
    font-weight: 800;
}

/* paragraph contents of package-section */
.ps-para
{
    background-color: #fbfbfb;
    margin-top: -20px;
}

.ps-para-header
{
    padding: 20px 80px 0px 20px;
    font-size: 50px;
    font-family: 'Arima Madurai', medium;
    color: #293d31;
    line-height: .8;
}

.ps-para-writing {
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    color: #293d31;
    line-height: 1.3;
    padding-bottom: 30px;
}

.ps-content-row2
{
    margin-top: 60px;
    margin-bottom: 90px;
}

/* END package-section*/

/*Start Our Services*/

.container{
    max-width: 1110px;
}
.ps-services-wrap{
    background-color: #fad7ca;
    background-image: url(../img/main-background.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.ps-services-header{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 14px;
    color: #a67288;
    padding-top: 30px;
}
.ps-services-title{
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    font-size: 50px;
    color: #d8674d;
}

.ps-services-wrap4{
    background-image: url("../img/main-background4.png");
}
.ps-services-header2{
    color: #7d406c;
    padding-top: 37px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
}
.ps-services-title2{
    color: #e78770;
    font-family: 'Arima Madurai', cursive;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.ps-image-footerdesign2{
    position: relative;
    opacity: 0.722;
    background-color: #ffffff;
    margin-left: 8px;
    bottom: 128px;
    border-radius: 0px 0px 5px 5px;
    height: 120px;
    width: 350px;
}

.ps-image-textdesign{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
    color: #293d31;

}

/*End Our Services*/



/*Get the best deals section*/
.container{
    max-width: 1110px;
}
.ps-main-body{

}
/*.main-wrapper{
    padding-top: 50px;
}*/

.ps-deals{
    background-color: #57274a;
    padding-top: 25px;
    padding-bottom: 80px;
}
.ps-deals-body{
    padding-left: 8%;
    padding-right: 8%;
}
.ps-deals-heading{
    font-size: 45px;
    font-family: Satisfy;
    color: #f9ffe1;
    text-align: center;
    padding-bottom: 50px;
}
.ps-deals-bound{
    border-radius: 4px;
    background-color:#ffffff;
    padding-bottom: 35px;
}
div.ps-deals-bound:hover{
    transform: scale(1.1);

}

.ps-deals-boundhead{
    font-size: 30px;
    font-family: Arima Madurai;
    color: #7d406c;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}
.ps-deals-boundtext {
    font-size: 24px;
    font-family: Assistant;
    color: #7d406c;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.ps-deals-boundprice{
    font-size: 48px;
    font-family: Arima Madurai;
    color: #7d406c;
    text-align: center;
    padding-top: 43px;
}
.ps-deals-pricetag {
    font-size: 30px;
}
.ps-deals-pricetag2 {
    bottom: -5px;
}
.ps-deals-boundbutton{
    font-size: 30px;
    font-family: Arima Madurai;
    color: #f7dbcb;
    background-color: #7d406c;
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    margin-top: 68px;
    margin-bottom: 29px;
}

/*Start Get the best deals section 2*/
.ps-deals-main{
    padding: 0px;
    margin: 0px;
}
.ps-deals-second{
    background: url(../img/perfume.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 80px;
}
.ps-deals-secondbody{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 75px;
}
.ps-deals-boxtop{
    background-color:#feb492;
    height: 25px;

}
.ps-deals-boxmiddle{
    background-color: #f39d89;
}
div.ps-deals-box1:hover{
    transform: scale(1.1);

}
.ps-deals-boxhead {
    color: #ffffff;
    font-family: Satisfy;
    font-size: 38px;
    padding-top: 67px;
    text-align: center;
}
.ps-deals-boxprice{
    color: #fed9c8;
    font-family: Arima Madurai;
    font-size: 48px;
    padding-top: 34px;
    text-align: center;
    padding-bottom: 59px;
}
.ps-deals-boxtext{
    font-size: 20px;
    font-family: Assistant;
    background-color: #f9ffe1;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 55px;
    color: #bfa6aa;

}
.ps-deals-boxbottom{
    background-color:#f9ffe1;
    padding-bottom: 35px;
}
.ps-deals-boxbutton {
    background-color: #f39d89;
    border: 1px solid #f39d89;
    color: #f9f8db;
    font-family: Arima Madurai;
    font-size: 29px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.ps-deals-boxtop2{
    background-color:#c9d9c4;
    height: 25px;
}
.ps-deals-boxprice2{
    color: #e4ece2;
    font-family: Arima Madurai;
    font-size: 48px;
    padding-top: 34px;
    text-align: center;
    padding-bottom: 59px;
}
.ps-deals-boxmiddle2{
    background-color: #97a294;
}
.ps-deals-boxbottom2{
    background-color:#f9ffe1;
    padding-bottom: 35px;
}
div.ps-deals-box2:hover{
    transform: scale(1.1);

}

.ps-deals-boxbutton2{
    background-color: #97a294;
    border: 1px solid #97a294;
    color: #f9f8db;
    font-family: Arima Madurai;
    font-size: 29px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.ps-deals-boxtop3{
    background-color:#7b205b;
    height: 25px;
}
.ps-deals-boxprice3{
    color: #bd70aa;
    font-family: Arima Madurai;
    font-size: 48px;
    padding-top: 34px;
    text-align: center;
    padding-bottom: 59px;
}
.ps-deals-boxmiddle3{
    background-color: #7c3f6b;
}
.ps-deals-boxbottom3{
    background-color:#f9ffe1;
    padding-bottom: 35px;
}
div.ps-deals-box3:hover{
    transform: scale(1.1);

}

.ps-deals-boxbutton3{
    background-color: #7d406c;
    border: 1px solid #7d406c;
    color: #f9f8db;
    font-family: Arima Madurai;
    font-size: 29px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.ps-deals-boxhead3 {
    color: #fa80d8;
    font-family: Satisfy;
    font-size: 38px;
    padding-top: 67px;
    text-align: center;
}
/*End Get the best deals section 2*/


/*Start Show your loved ones*/
.container
{
    max-width: 1110px;
}

/*Reservation type*/
/*global class for reservation*/

.ps-assistant-bold-font{
    font-family: 'Assistant', sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
}


.ps-reservation-header{
    padding: 70px 0 70px 0;
}

.ps-reservation-title {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    padding-bottom: 50px;
}
.ps-reservation-subtitle{
    font-family: 'Arima Madurai', cursive;
    font-size: 60px;
    color: #663366;
}

.ps-reservation-type-2{

    background-color: #ffcccc;
    padding-bottom: 76px;
}


.ps-reservation-form-2{
    margin-left: 23.5%;
    margin-right: 23.5%;
}


.ps-reserve-color-2{
    color:#663366;
}

.ps-reservation-type-2 input::-webkit-input-placeholder {
    color: #996666 !important;

}

.ps-reservation-type-2 input::-moz-placeholder {
    color: #996666 !important;

}
.ps-reservation-type-2 input:-ms-input-placeholder  {
    color: #996666 !important;

}
.ps-reservation-type-2 input:-moz-placeholder {
    color: #996666 !important;

}

.ps-reservation-type-2 textarea::-webkit-input-placeholder {
    color: #996666 !important;

}


.ps-reservation-type-2 textarea::-moz-placeholder {
    color: #996666 !important;

}

.ps-reservation-type-2 textarea:-ms-input-placeholder  {
    color: #996666 !important;

}

.ps-reservation-type-2 textarea:-moz-placeholder {
    color: #996666!important;

}
.ps-reservation-type-2 .btn{
    background:#663366;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    font-weight: bold;
}


.ps-reservation-type-2 .btn:hover{
    color: #ffffcc;
}


/*End Show your loved ones*/



/*Start image*/
.ps-clients-tricker-content{
    background-color: #f39d89;
    padding-top: 30px;
    padding-bottom: 45px;
}

.ps-number-client{
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 60px;
    font-family: "ArimaMadurai";
    color: #f9ffe1;
    text-transform: uppercase;
    line-height: 1.2;
}

.ps-type-name-client{
    font-size: 20px;
    font-family: "ArimaMadurai";
    color: #f9ffe1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

/*End mage*/



/*Start Meet our expert*/ /*Start connect with us*/
/**global class**/
.container{
    max-width: 1110px;
}
.ps-team-connect-title{
    font-family: 'Satisfy', cursive,sans-serif;
    font-size: 30px;
    color: #f39d89;
    padding-top: 37px;
}
.ps-team-connect-section-title{
    font-family: 'Arima Madurai', cursive,sans-serif;
    font-size: 60px;
    color: #7d406c;
    padding-top: 43px;
    padding-bottom: 93px;
}
.ps-team-connect-social-icon{
    font-size: 45px;
    color: #f39d89;
    padding-bottom: 64px;
    padding-right: 40px;
    padding-left: 30px;
}


.ps-team-section{
    background: url("../img/rose.jpg") no-repeat;
    background-size: cover;
}
.ps-team-section .ps-team-connect-title{
    color: #f9ffe1;
}
.ps-team-section .ps-team-connect-section-title{
    color: #f7dbcb;
}
.ps-team-section ul .ps-team-connect-social-icon{
    font-size: 12px;
    color: #ffffff;
    padding-right: 0;
    padding-left: 0;
}

.ps-member-wrap{
    padding-left: 20px;
    padding-right: 20px;
}

.ps-member-image{
    border: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 50%;
}
.ps-member-name{
    font-family: 'Arima Madurai', cursive,sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 48px;

}
.ps-member-description{
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
    padding-top: 5px;
    padding-bottom: 43px;

}
.ps-member-border{
    border-right:4px solid #6c3a47;
    height: 275px;

}


/*connect*/
.ps-connect-section{
    background-color:#f7dbcb ;
}


/*End Meet our expert*/ /*End connect with us*/



/*Start Footer*/

/*Global Class*/

.container{
    width:1110px;
}


/*footer*/
.ps-footer-bg {
    background-color: #572d4b;
}

.ps-footer-row {
    padding-top: 55px;
    color: #dcdfc9;
    font-family: 'Assistant', sans-serif;
    padding-bottom: 60px;
}

.ps-footer-logo {
    top: -13px;
    padding-left: 35px;
}

.ps-footer-welcome {
    padding-left: 52px;
}

.ps-footer-welcome-heading {
    font-family: 'Arima Madurai', cursive;
    font-weight: 200;
    font-size: 24pt;
    margin-bottom: 10px;
    padding-left: 2px;
}

.ps-footer-welcome-content {
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 20px;
    width: 208px;

}

.ps-footer-contact {
    font-size: 12px;
    line-height: 20px;

}

.ps-footer-address {
    line-height: 20px;
    font-size: 12px;

}

.ps-footer-social {
    font-size: 10px;
    line-height: 20px;

}

.ps-footer-li-heading {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}

.ps-footer-social-icon {
    font-size: 15px;
    line-height: 20px;
}

.ps-footer-social-icon li a {
    color: #dcdfc9;
}

.ps-footer-social-icon li a:hover, .ps-footer-social-icon li a:active, .ps-footer-social-icon li a:focus {
    color: #b05797;

}

/*footer media quari*/

/* Back-to-top-functionality */

.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    bottom: -40px;
    right: 90px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #b05797;
    color: #e8add7;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.go-top.show {
    bottom: 20px;
}

.go-top:hover {
    background-color: #5DBA9D;
    color: #FFFFFF;
}

/*End Footer*/







