/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Theme Style*/






<!-- navbar start -->

/*Header Top*/
.container{
    width:1110px;
}
.navbar {
    margin-bottom: 0px;
}

.header-top, .header-top a {
    background: #4b2641;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #7d406c;
    text-decoration: none;
}

.nav-background {
    background: #7d406c;
    border: none;
}

.logo-top {
    margin-top: 3px;
    z-index: 2;
    position: relative;
    padding: 0 0 0 25px;

}

.main-nav-wrapper ul li {
    padding: 10px 10px 1px 20px;
    font-family: 'Heebo', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 3px solid transparent;
    transition: all 500ms;
    line-height: 25px;
    color: #d5cec2;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
    color: #f39d89;
    background: transparent !important;
    border-bottom: 3px solid #fff;
}

.submenu .dropdown-menu {
    min-width: 132px;
    background: #69365b;
}

.submenu .dropdown-menu li a {
    background: transparent;

}

.submenu ul > li > a:hover,
.submenu ul > li > a:focus {
    text-decoration: none;
    color: #fff;

}

.submenu ul li a {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: #f39d89;
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-large ul li {
    font-family: 'Heebo', sans-serif;

}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    background: #69365b;
    width: 71%;
    margin-left: 254px;
    margin-right: 36px;
    padding: 30px 10px 20px 0;
}

.dropdown-menu-large > li > ul > li {
    padding: 3px;
    margin: 0;
    list-style: none;
}



.dropdown-title {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: #f39d89;
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 3px 3px 0;
    clear: both;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.428571429;
    color: #f39d89;
    white-space: normal;
    text-transform: uppercase;
}

.drop-image-title > a {
    color: #f39d89;
    text-decoration: none;
}

.drop-image-title {
    background: #3e2036;
    margin-bottom: 4px;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #f39d89;
    text-transform: uppercase;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #fff;

}
.dropdown-image{
    padding-top: 7px;
}

.drop-image-title a:hover {
    color: #fff;
}

.dropdown-menu-large .col1{
    padding-left: 45px;
}

.dropdown-menu-large .col2{
    padding-left: 105px;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }

}

/*Override Bootstrap Default Style*/
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #f39d89;
    background: transparent !important;
    border-bottom: 3px solid #fff;
}

<!-- navbar end -->



/*<!--13 - Shop Product Page-->*/

/*Global Class*/
.container{
    max-width: 1110px;
}
.ps-creative-title{
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    line-height: 100px;
}

.border-bottom-none,.border-bottom-none:hover{
    border-bottom: none !important;
}

.ps-hr{
    display: inline-block;
    height: 2px;
    width: 100px;
    margin:14px;
    background: #fff;
}

.ps-slider-wrap{
    padding: 100px 0;
}

.carousel-inner{
    display: block;
    z-index: 2;
}


.ps-slider-header{
    color: #fff;
}

.ps-slider-title{
    font-size: 120px;
    font-family: 'Arima Madurai', cursive;
}

/*indicator*/

.carousel-indicators li.active{
    background: white;
    color: white;
    border:8px solid white;

}

.carousel-indicators li{
    background-color: #fff;


}

.ps-indicator-position{
    bottom: -80px;


}
.ps-indicator-position li.active{
    height:4px;
    width: 4px;

}
.ps-indicator-position li{
    height:4px;
    width: 4px;
    border:5px solid white;
}
/*//end-Global*/





/*<!--13 - Shop Product Page-->*/
.ps-product-slider{
    position: relative;
    background: url("../img/shop-product-page.jpg") no-repeat;
    background-size: cover;

}

.ps-product-slider:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbcec8+0,ddddd7+0,bac0c4+0,615a57+100 */
    background: rgb(203,206,200); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(203,206,200,1) 0%, rgba(221,221,215,1) 0%, rgba(186,192,196,1) 0%, rgba(97,90,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(203,206,200,1) 0%,rgba(221,221,215,1) 0%,rgba(186,192,196,1) 0%,rgba(97,90,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(203,206,200,1) 0%,rgba(221,221,215,1) 0%,rgba(186,192,196,1) 0%,rgba(97,90,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcec8', endColorstr='#615a57',GradientType=0 ); /* IE6-9 */
}
/*<!--//13 - Shop Product Page-->*/
/*<!--//13 - Shop Product Page-->*/




/*<!--// aelo body oil-->*/

body{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}

.Aelo_Body_Oil {
    font-size: 60px;
    font-family: "Myriad Pro";
    color: rgb(41, 61, 49);
    line-height: 1.2;
    padding-left: 50px;
    padding-bottom: 20px;

}


.amountOfMoney {
    font-size: 24px;
    font-family: "Assistant";
    color: rgb(41, 61, 49);
    font-weight: bold;
    line-height: 1.2;
    margin: 0 100px 0 110px;
}

.buttonAddCart {
    font-family: "Assistant";
    border-radius: 4px;
    background-color: rgb(125, 64, 108);
    font-size: 20px;
    color: rgb(249, 255, 225);
    font-weight: bold;
    line-height: 1.2;
    padding: 6px;
}


.counterMinus {
    background-color: rgb(235, 241, 215);
    font-size: 20px;
    font-family: "Assistant";
    color: rgb(41, 61, 49);
    font-weight: bold;
    line-height: 1.2;
    padding:6px;
    margin-left:20px;
}

.buttonArea{
    padding-left: 10px;
    padding-right: 10px;
}


.contentParagraph {
    font-size: 20px;
    font-family: "Assistant";
    color: rgb(41, 61, 49);
    line-height: 1.5;
    padding-top:70px;
}

/*.carousel-indicators li,.carousel-indicators .active{
    width:80px;
    height: 80px;
    border: none;
    background: #fff;
    margin-right: 10px;
    }*/
    .ini{

        position: relative;
        bottom: 10px;
        padding-left: 0;
        text-align: right;
        list-style: none;
        margin-top: 31px;
        left: 21%;
        width: 100%;
    }

    .ps-single-item-first .buttonAddCart{
        background-color: rgb(235, 241, 215);
        color: rgb(41, 61, 49);
    }

    .ps-single-item-first .Aelo_Body_Oil{
        margin-left: 50px;
    }

    .ps-single-item-second{
        margin-top: 140px;
        margin-bottom: 65px;
    }

    .ps-single-item-first{
        margin-top: 120px;
        margin-bottom: 150px;
    }

    /*<!--// aelo body oil end-->*/








    /* Clients Tricker Start */

    .ps-clients-tricker-content{
        background-color: #f39d89;
        padding-top: 30px;
        padding-bottom: 45px;
    }

    .ps-number-client{
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 60px;
        font-family: "ArimaMadurai";
        color: #f9ffe1;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .ps-type-name-client{
        font-size: 20px;
        font-family: "ArimaMadurai";
        color: #f9ffe1;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }

    /* Clients Tricker  End */

    /* Related Products Start */

    .ps-related-products-content{
        background-image: url("../img/relatedItems.png");
        padding-top: 50px;
        padding-bottom: 45px;
    }
    .ps-related-text{
        font-size: 30px;
        font-family: "Assistant";
        color: #293d31;
        font-weight: bold;
        line-height: 1.2;
        padding-bottom: 60px;
    }


    .ps-type-name-related{
        font-size: 20px;
        font-family: "Assistant";
        color: #293d31;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .ps-number-related{
        font-size: 24px;
        font-family: "Assistant";
        color: #293d31;
        font-weight: bold;
        line-height: 1.2;
    }

    /* Related Products End */









    /*footer*/
    .ps-footer-bg {
        background-color: #572d4b;
    }

    .ps-footer-row {
        padding-top: 55px;
        color: #dcdfc9;
        font-family: 'Assistant', sans-serif;
        padding-bottom: 60px;
    }

    .ps-footer-logo {
        top: -13px;
        padding-left: 35px;
    }

    .ps-footer-welcome {
        padding-left: 52px;
    }

    .ps-footer-welcome-heading {
        font-family: 'Arima Madurai', cursive;
        font-weight: 200;
        font-size: 24pt;
        margin-bottom: 10px;
        padding-left: 2px;
    }

    .ps-footer-welcome-content {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        padding-left: 20px;
        width: 208px;

    }

    .ps-footer-contact {
        font-size: 12px;
        line-height: 20px;

    }

    .ps-footer-address {
        line-height: 20px;
        font-size: 12px;

    }

    .ps-footer-social {
        font-size: 10px;
        line-height: 20px;

    }

    .ps-footer-li-heading {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
    }

    .ps-footer-social-icon {
        font-size: 15px;
        line-height: 20px;
    }

    .ps-footer-social-icon li a {
        color: #dcdfc9;
    }

    .ps-footer-social-icon li a:hover, .ps-footer-social-icon li a:active, .ps-footer-social-icon li a:focus {
        color: #b05797;

    }

    /*footer media quari*/

    /* Back-to-top-functionality */

    .go-top {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        font-size: 30px;
        position: fixed;
        bottom: -40px;
        right: 90px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        background-color: #b05797;
        color: #e8add7;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .go-top.show {
        bottom: 20px;
    }

    .go-top:hover {
        background-color: #5DBA9D;
        color: #FFFFFF;
    }

    /*footer end*/
